body{
    margin: 0px;
}
h1{
    display: flex;
}
.content{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login{

    width: 300px;
    height: 300px;
    background: #fff;

}
