body{
    margin: 0px;
}
h1{
    display: flex;
    font-size: 40px;
    color: #066a75;
    padding: 0px 0px 0px 80px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;

}
.content{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login{

    width: 300px;
    height: 300px;
    background: #fff;

}
.label{
display: flex;




}